<!-- wp:group {"className":"is-style-default","style":{"position":{"type":"sticky","top":"0px"}},"backgroundColor":"secondary","layout":{"type":"constrained"}} -->
<div class="wp-block-group is-style-default has-secondary-background-color has-background"><!-- wp:template-part {"slug":"presentation-navigation","tagName":"div","align":"center"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:paragraph -->
<p></p>
<!-- /wp:paragraph -->

<!-- wp:post-title {"level":1} /-->

<!-- wp:post-content /-->

<!-- wp:template-part {"slug":"presentation-notes"} /--></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->